@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Thanks for visiting Webapps2
    <!--System.Net.Dns.GetHostEntry(System.Net.Dns.GetHostName()).AddressList[4].ToString()-->
    </p>
</div>
